.editor {
  min-height: 70vh;
  width: 100%;
  flex-wrap: nowrap;
}

.blue,
.blue:focus {
  background-color: #0081d5;
}

.blue:hover {
  background-color: #005c99;
}

.blue:active {
  background-color: #1aa3ff;
}

.yellow,
.yellow:focus {
  background-color: #ffc107;
}

.yellow:hover {
  background-color: #cc9a05;
}

.yellow:active {
  background-color: #ffcd38;
}

.green,
.green:focus {
  background-color: #198754;
}

.green:hover {
  background-color: #105635;
}

.green:active {
  background-color: #24c278;
}

.red,
.red:focus {
  background-color: #dc3545;
}

.red:hover {
  background-color: #960a22;
}

.red:active {
  background-color: #fb294c;
}