@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-width: fit-content; */
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.console {
  font-size: small;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.titulos {
  font-family: 'Open Sans', sans-serif;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.visor {
  z-index: 1000;
}

.nets4-border-1 {
  background: #fff;
  border: solid black;
  float: left;

  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.nets4-full-canvas {
  min-width: 100%;
  min-height: 100%;
}