@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title_404 {
  font-size: 16rem;
  animation: fadeIn 1s ease
}

.subtitle_404 {
  font-size: 1.5em;
  margin-top: 10px;
  opacity: 0; 
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #222;
}